<style>
    h2 {
       text-align: center;
       font-family:cursive;
       padding: 20px;
       
      
    } 
    img {
       display: block;
       margin-left: auto;
       margin-right: auto;
       height: 600px;
       width: 600px;
    }
    .instructions {
       text-align: center;
       font-family:Georgia, 'Times New Roman', Times, serif;
       padding: 40px;
    }
    .border {
       display: flex;
       align-items: center;
       flex-direction: column;
       color: lightgray;
      }
 
 </style>


<h2>{{object.name}}</h2>


<img src="{{object.pic.url}}" width="200" height="300" />
<div class="instructions">
<b>Ingredients: </b> {{object.ingredients}} <br><br>

<b>Cooking Time: </b> {{object.cooking_time}} <br>
</div>

<p class="border">&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;</p>