{% load static %}
<!DOCTYPE html>
<html>
   <title>
       RecipeApp Home
   </title>
   <style>
      h1 {
         text-align: center;
         font-family:Georgia, 'Times New Roman', Times, serif;
         
        
      } 
      .main-img {
         display: block;
         margin-left: auto;
         margin-right: auto;
      }
      h2 {
         text-align: center;
         font-family:cursive;
      }
      p {
         text-align: center;
         font-family:Georgia, 'Times New Roman', Times, serif
      }
      .border {
         color: lightgray;
      }

   </style>
   <body>
      <h1>Green & Comfort</h1;>
         
      <p class="border">&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;</p>
         <h2>5 Best Vegan Recipes</h2>
         <p>Five simple easy to follow recipes for your tranistion to a healthy, vegan lifestyle.</p>
         <p><strong>Vegan ~~~~~~~ Favorites</strong></p>
      <img class ="main-img" src="{% static 'recipes/images/vegan-granola.jpg' %}" alt="home" width="600" height="675">
     <br>
      <p class="border">&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;&#9788;</p>

   </body>
</html>